#battlegrounds {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  thead {
    color: $header-color;
    font-size: 12px;

    tr th {
      border-left: 1px dashed $border-color;
      border-bottom: 1px solid $hard-line;
      text-align: center;
      font-weight: normal;
      &:nth-child(1) {
        border-left: none;
      }
    }

    th.trump::before, th.clinton::before {
      content: '';
      display: inline-block;
      width: 30px;
      height: 40px;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
    }

    th.clinton::before {
      background-image: asset-as-url('digest', 'images/splash/clinton-head.png');
    }

    th.trump::before {
      background-image: asset-as-url('digest', 'images/splash/trump-head.png');
    }

    th.blurb { text-align: left; }
  }
  tbody {
    tr {
      border-bottom: 1px solid $border-color;
      vertical-align: middle;
      &:last-child {
        border-bottom: none;
      }
    }
    tr td {
      height: 50px;
      width: 50px;
      margin: 0;
      padding: 0 10px;
      border-left: 1px dashed $border-color;
      font-weight: bold;
      font-size: 14px;
      text-align: center;
      img {
        padding: 0;
        margin: 0;
        width: 40px;
        height: 40px;

      }
      &.state-icon {
        padding: 0;
      }

      &.percent {
        font-family: $header-font-family;
        padding: 0;
        font-size: 20px;
        color: #000;
        &.gop {
          background: $gop-lead-color;
        }
        &.dem {
          background: $dem-lead-color
        }
        &--district {
          color: #666;
          font-family: $body-font-family;
          font-weight: normal;
          font-size: 16px;
        }
      }
      .state-name {
        font-family: $header-font-family;
        text-transform: uppercase;
        font-size: 16px;
        text-align: left;
      }
      .votes {
        display: block;
        font-size: 12px;
        color: $header-color;
        font-weight: normal;
      }
      &:nth-child(1) {
        border-left: none;
      }
      &:nth-child(2) {
        text-align: left;
      }
      &:nth-child(5) {
        color: $precint-color;
      }
    }
  }
  .spinner {
    visibility: hidden;
    position: absolute;
    width: $right-column-width;
    background-color: rgba(255, 255, 255, 0.8);
    height: 100%;
    img {
      position: relative;
      margin: 0 auto;
      text-align: center;
      display: block;
      padding-top: 100px;
    }
  }

  .state {
    font-size: 30px;
    color: #aaa;
    
  }
  .trump-win {
    .state {
      color: $gop-color;
    }
    .percent--trump {
      background-color: $gop-color;
    }
  }

  .clinton-win {
    .state {
      color: $dem-color;
    }
    .percent--clinton {
      background-color: $dem-color;
    }
  }
}

@media (max-width: 1030px) {
  #battlegrounds {
    tbody tr td {
      padding: 0 3px;
      &.percent {
        font-size: 16px;
        &--district {
          font-size: 14px;
        }
      }
      .state {
        font-size: 14px;
      }
    }
  }
}
#column1 {
  width: 60%;
}
#column2 {
  width: 40%;
}
.column {
  height: 600px;
}
