$container-width: $left-column-width;
$container-height: 275px;
$bar-height: 30px;
$bar-position: $bar-height*1.5;
$base-index: 1000;
$transition-speed: 1s;

#electoral_votes {
  width: $container-width;
  margin: 0 auto;
  background: #ffffff;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  .electoral-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px 10px;
  }
  .electoral-title {
    font-family: $header-font-family;
    margin: 5px 0;
    font-size: 24px;
    @include ar-font-size(28px);
    flex: 0 1 auto;
    padding-right: 20px;
    white-space: nowrap;
  }
  .electoral-blurb {
    flex: 1 1 auto;
    font-size: 12px;
    @include ar-font-size(15px);
    color: #9c9c9c;
  }
  .electoral-content {
    position: relative;
    height: $container-height;
    border-top: 1px solid #ececec;
  }
  .face {
    position: absolute;
    bottom: $bar-position + $bar-height;
    z-index: $base-index - 1;
    background-size: contain;
    background-repeat: no-repeat;
    transition: width $transition-speed ease, height $transition-speed ease, right $transition-speed ease, left $transition-speed ease;
    &--clinton {
      background-position: bottom left;
      left: 0;
      width: 0;
      height: 0;
    }
    &--trump {
      background-position: bottom right;
      right: 0;
      width: 0;
      height: 0;
    }
  }
  .bubble {
    font-family: $header-font-family;
    font-size: 56px;
    line-height: 1em;
    position: absolute;
    bottom: $bar-position + $bar-height + 11;
    z-index: $base-index + 2;
    text-align: center;
    width: 80px;
    height: 56px;
    transition: width $transition-speed ease, height $transition-speed ease, left $transition-speed ease, right $transition-speed ease;
    &__label {
      transition: opacity $transition-speed/2 ease;
      transition-delay: 1s;
      border: 1px solid;
      position: absolute;
      top: 0;
      left: -1px;
      font-size: .15em;
      line-height: 1em;
      display: block;
      opacity: 0;
      text-align: center;
      background: #ececec;
    }
    &__candidate {
      transition: font-size $transition-speed ease;
      color: #000;
      display: block;
      font-size: 33%;
      @include locale-font-size("ja", 28%);
      line-height: 1;
      position: absolute;
      top: 5%;
      width: 100%;
    }
    &__votes {
      transition: font-size $transition-speed ease;
      display: block;
      font-size: 72%;
      line-height: 1;
      position: absolute;
      bottom: -5%;
      width: 100%;
    }
    &--clinton {
      left: 40px;
      transform: translateX(-50%);
      border: 1px solid $dem-color;
      color: $dem-color;
      background: #cfd4ea;
      .bubble__label {
        border-bottom: 1px solid $dem-color;
      }
    }
    &--trump {
      right: 40px;
      transform: translateX(50%);
      border: 1px solid $gop-color;
      color: $gop-color;
      background: #f8dad8;
      .bubble__label {
        border-bottom: 1px solid $gop-color;
      }
    }
  }
  .bubble-handle {
    position: absolute;
    bottom: $bar-position + $bar-height + 12px;
    transform: translateX(-50%);
    z-index: $base-index + 3;
    &__inside {
      transition: all $transition-speed ease;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      border-width: 10px 6px 0px;
      border-style: solid;
      width: 0;
      z-index: 100;
    }
    &__border {
      transition: all $transition-speed ease;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      border-width: 11px 7px 0px;
      border-style: solid;
      width: 0;
      z-index: 90;
    }
    &[data-handle="disable"] {
      display: none;
    }
    &--clinton {
      left: 3px;
      transition: left $transition-speed ease;
      &[data-handle="outside"] {
        .bubble-handle__inside {
          border-width: 6px 4px 0px 0px;
        }
        .bubble-handle__border {
          border-width: 11px 6px 0px 0px;
        }
      }
      &[data-handle="inside"] {
        .bubble-handle__inside {
          border-width: 6px 0px 0px 4px;
        }
        .bubble-handle__border {
          border-width: 11px 0px 0px 6px;
        }
      }
      .bubble-handle__inside {
        border-color: #cfd4ea transparent;
      }
      .bubble-handle__border {
        border-color: $dem-color transparent;
      }
    }
    &--trump {
      right: 3px;
      transition: right $transition-speed ease;
      &[data-handle="outside"] {
        .bubble-handle__inside {
          border-width: 6px 0px 0px 4px;
        }
        .bubble-handle__border {
          border-width: 11px 0px 0px 6px;
        }
      }
      &[data-handle="inside"] {
        .bubble-handle__inside {
          border-width: 6px 4px 0px 0px;
        }
        .bubble-handle__border {
          border-width: 11px 6px 0px 0px;
        }
      }
      .bubble-handle__inside {
        border-color: #f8dad8 transparent;
      }
      .bubble-handle__border {
        border-color: $gop-color transparent;
      }
    }
  }
  .bars {
    height: $bar-height;
    position: absolute;
    bottom: $bar-position;
    width: 100%;
    background: #c7c7c7;
    z-index: $base-index;
    &:after {
      content: '';
      position: absolute;
      height: $container-height - $bar-position;
      border-left: 2px dashed #888;
      border-left: 2px dashed rgba(0,0,0,0.25);
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      z-index: 100;
    }
  }
  .bar {
    position: absolute;
    transition: width $transition-speed ease;
    height: 100%;
    width: 0;
    &--clinton {
      background: $dem-color;
      left: 0;
    }
    &--trump {
      background: $gop-color;
      right: 0;
    }
  }
  .bar-text {
    display: block;
    line-height: $bar-height;
    position: absolute;
    padding: 0 7px;
    font-family: $body-font-family;
    color: #fff;
    font-size: 12px;
    @include ar-font-size(15px);
    white-space: nowrap;
    text-shadow: 1px 0px 2px #777;
    &--trump {
      right: 0;
    }
  }
  .finish-bubble {
    border: 1px solid #000;
    background: #fff;
    text-align: center;
    position: absolute;
    top: $bar-height + 8px;
    left: 50%;
    transform: translateX(-50%);
    font-family: $body-font-family;
    padding: 2px 5px;
    font-size: 13px;
    z-index: 110;
    &:before {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      border-width: 0px 6px 15px;
      top: -15px;
      border-style: solid; 
      width: 0;
      z-index: 100;
      border-color: #fff transparent;
    }
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      border-width: 0px 7px 16px;
      top: -16px;
      border-style: solid; 
      width: 0;
      z-index: 90;
      border-color: #000 transparent;
    }
  }
}
