#election_map {
  height: 450px;
  width: $left-column-width;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  .switch__message {
    text-align: center;
  }
  .map__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 10px;
  }
  .legend {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 30px 0;
    dt {
      font-size: 0.8rem;
      margin-top: 15px;
    }
    dd {
      margin: 0;
      .legend-icon {
        display: block;
      }
    }
    &__header {
      border-bottom: 3px solid $charcoal;
      padding-bottom: 5px;
      margin: 0;
      font-size: 1rem;
    }
    &-icon {
      background-color: $poll-open;
      display: inline-block;
      border: 1px solid #fff;
      height: 20px;
      width: 40px;
      margin: 0 auto;
      &.open {
        background-color: $tossup-color;
      }
      &.dem {
        background-color: $dem-color;
      }
      &.gop {
        background-color: $gop-color;
      }
      &.no-data{
        background-color: $other-color;
      }
    }
    &__polls{
      background-color: $light-smoke;
      padding: 15px;
    }
    &__results {
      margin: 0 auto;
      width: 90px;
      .resultsBtn {
        margin: 0 auto;
        background-color: #2e7060;
        color: $light-smoke;
        width: 90px;
        height: 90px;
        padding: 10px;
        border-radius: 45px;
        border: none;
        text-align: center;
        font-family: $body-font-family;
        display: flex;
        align-items: center;
        text-decoration: none;
        @include locale-font-size("de-DE", 14px);
        &:hover {
          background-color: darken(#2e7060, 10%);
        }
      }
    }
  }
}
