.a-page__content__splash--advanced, .decision-iframe__splash {
  .wrapper {
    display: flex;
    flex-flow: row;
  }
  .module__header {
    font-family: $header-font-family;
    border-bottom: 1px solid #ececec;
    padding-bottom: 10px;
    margin: 10px 0;
    text-align: center;
  }
}
