.a-page__content__splash--advanced {
  h2 {
    color: $hp-color;
    font-family: $header-font;
    text-transform: uppercase;
    font-size: 21px;
    border-bottom: 1px solid $border-color;
    text-align: center;
    padding: 10px 0;
    margin: 0 20px;
  }
  .wrapper {
    display: flex;
    flex-flow: row;
  }
  .legend {
    background-color: $border-color;
    font-size: 10px;
    &-icon {
      background-color: $poll-open;
      display: inline-block;
      border: 1px solid #fff;
      height: 20px;
      width: 40px;
      &.closed {
        background-color: $poll-closed;
      }
      &.open {
        background-color: $poll-open;
      }
      &.dem {
        background-color: $dem-leading;
        &.win {
          background-color: $dem-win;
        }
      }
      &.gop {
        background-color: $gop-leading;
        &.win {
          background-color: $gop-win;
        }
      }
      &.no-data{
        background-color: $poll-not-reported;
      }
    }
  }
}
