#map-switcher {
  .geography a,
  .cartogram a {
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: right;
  }

  .geography a{
    background-image: asset-as-url('digest', 'maps/president-geography-thumbnail.png');
  }

  .cartogram a{
    background-image: asset-as-url('digest', 'maps/president-cartogram-thumbnail.png');
  }

  &.cartogram .tab.cartogram,
  &.geography .tab.geography{
    border: 2px solid $color;
    opacity: 1;
  }
  .switch {
    display: flex;
    margin: 0;
    padding: 0;

    &__message {
      text-align: center;
      font-weight: bold;
      padding: 10px 0;
    }

    .tab {
      opacity: 0.5;
      border: 2px solid #fff;
      width: 100%;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
      &__link {
        display: block;
        text-decoration: none;
        margin: 10px;
        h5 {
          font-family: $header-font-family;
          font-weight: bold;
          color: $color;
          padding: 5px 10px;
          margin: 0;
          font-size: 20px;
          @include locale-font-size("ar-SA", 21px);
          @include locale-font-size("de-DE", 18px);
          @include locale-font-size("el-GR", 16px);
        }
      }
    }
  }
}
