@import '../_map';

#election_map div[data-src] {
  @include animated-map();

  text {
    text-anchor: middle;
    alignment-baseline: middle;
    font-family: $header-font-family;
    font-size: 30px;
  }

  path.dem-win { fill: $dem-color; }
  path.dem-lead { fill: $tossup-color; }
  path.gop-win { fill: $gop-color; }
  path.gop-lead { fill: $tossup-color; }
  path.other-win { fill: $other-color; }
  path.other-lead { fill: $tossup-color; }
  path.tossup { fill: $tossup-color; }
}

#map {
  margin: 10px;
}
