@import '../_map';

#election_map div[data-src] {
  @include animated-map();
  margin: 10px;

  text {
    text-anchor: middle;
    alignment-baseline: middle;
    font-family: $header-font-family;
    font-size: 30px;
  }

  path {
    fill: $tossup-color;
    &.mesh {
      fill: none;
      stroke: $background;
      stroke-width: 2px;
    }
    @include party-win-colors('fill');
  }
}
