#map-switcher {
  @include map-switcher();

  h5 {
    font-weight: bold;
    // font-size: 1.4rem;
    white-space: nowrap;
    margin-top: 10px;
  }

  .geography ,
  .cartogram {
    .tab__link {
      display: flex;
    }
    a::before {
      border: none;
      order: 2;
      padding: 0 10px;
    }
  }

  .geography a::before {
    background-image: asset-url('digest', 'maps/president-geography-thumbnail.png');
  }

  .cartogram a::before {
    background-image: asset-url('digest', 'maps/president-cartogram-thumbnail.png');
  }

  &.cartogram .tab.cartogram,
  &.geography .tab.geography{
    border: 2px solid $color;
    .tab__link {
      color: $color;
      h5 {
        margin-top: 8px;
      }
    }
  }
  .switch {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    &__message {
      text-align: center;
      font-weight: bold;
      padding: 10px 0;
    }

    .tab {
      width: 100%;
      &__link {
        font-family: $header-font-family;
        font-weight: bold;
        padding: 5px 10px;
        color: $muted-color;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
          color: $color;
        }
        &--active {
          color: $color;
        }
      }
    }
  }
}
