#map-switcher {
  @include map-switcher();
  padding: 0;

  h5 {
    font-weight: bold;
    white-space: nowrap;
    margin-top: 12px;
  }

  .geography ,
  .cartogram {
    .tab__link {
      display: flex;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right;
      background-origin: content-box;
    }
    a::before {
      border: none;
      order: 2;
      padding: 0 10px;
    }
  }

  &.cartogram .tab.cartogram,
  &.geography .tab.geography{
    border: 2px solid $color;
    .tab__link {
      color: $color;
    }
  }
  .switch {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    &__message {
      text-align: center;
      font-weight: bold;
      padding: 10px 0;
    }

    .tab {
      border: 2px solid #fff;
      width: 100%;
      &__link {
        font-family: $header-font-family;
        font-weight: bold;
        padding: 5px 10px;
        color: $muted-color;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
          color: $color;
        }
        &--active {
          color: $color;
        }
      }
    }
  }
}
