#election-splash-refresh {
  min-width: 980px;
  max-width: 1070px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  &.loading button::after {
    animation: spin 1s infinite linear;
  }
}
.refresh {
  font-family: $body-font-family;
  background: #efefef;
  border: 1px solid #aaa;
  color: #aaa;
  border-radius: 4px;
  padding: 2px 20px;
  margin: 10px auto;
  font-size: 11px;
  &:after {
    content: '';
    background: asset-as-url('digest', 'images/splash/refresh.svg');
    width: 10px;
    height: 10px;
    display: block;
    float: right;
    margin: 2px 5px;
    color: #aaa;
    fill: currentColor;
  }
}
.countdown {
  font-family: $body-font-family;
  color: #bbb;
  font-size: 12px;
  padding-left: 10px;
}

@keyframes spin {
  0% {
    transform: translate3d(0, 0, 0) rotate(-0.001deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(360.001deg);
  }
}
