#election-splash-refresh {
  text-align: center;
  width: 100%;
}
.refresh {
  font-family: $body-font;
  background: #efefef;
  border: 1px solid #aaa;
  color: #aaa;
  border-radius: 4px;
  padding: 2px 20px;
  margin: 10px auto;
  font-size: 11px;
}
.countdown {
  font-family: $body-font;
  color: #bbb;
  font-size: 12px;
  padding-left: 10px;
}
