#election_seats{
  max-width: 280px;
  width: 100%;
  margin: 20px auto;
  box-sizing: border-box;

  .bar {
    margin: 25px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    .middle {
      height: calc(100% + 10px);
      width: 3px;
      margin-top: -5px;
      margin-bottom: -5px;
      background: #444;
    }

    .box {
      box-sizing: border-box;
      border: 1px solid white;
      border-top: 0;
      border-left: 0;
      background: #ddd;

      &.dem {
        background-color: $dem-color;
        &--priors {
          background-color: $dem-lead-color;
        }
      }

      &.gop {
        background-color: $gop-color;
        &--priors {
          background-color: $gop-lead-color;
        }
      }

      &.other {
        background-color: $other-color;
      }

      &.tossup {
        background-color: $tossup-color;
      }


      &.not-in-play {
        opacity: .25;
      }

      &.space {
        background: #fff;
      }

    }

    &-senate {
      width: 250px;
      height: 40px;

      .box {
        width: 10px;
        height: 10px;
      }
    }

    &-house {
      width: 245px;
      height: 45px;

      .box {
        width: 5px;
        height: 5px;
      }
    }
  }

  .seats-link {
    text-decoration: none;
    color: inherit;
  }
}
