@import '../splash/bar/_senate';
@import '../splash/bar/_house';

#election_seats{
  max-width: 250px;
  width: 100%;
  margin: 20px auto;
  box-sizing: border-box;
  text-align: center;

  #house ol.races {
    height: 55px;
    margin: 0 auto;
    &::before {
      height: 40px;
    }
  }

  #senate {
    border-bottom: 1px solid #999;
    padding-bottom: 1rem;
    margin-bottom: 2rem;

    ol.races {
      height: 50px;
      margin: 0 auto;
      &::before {
        height: 40px;
      }
    }
  }

  #house_seats,
  #senate_seats{
    a {
      h2,
      .count,
      .races,
      .legend {
        padding-bottom: .5rem;
      }
      .legend {
        order: 5;
        height: 3rem;
        align-items: flex-start;
        position: relative;
        .gop,
        .dem {
          position: absolute;
        }
        .dem {
          left: 0;
        }
        .gop {
          right: 0;
        }
        .balance {
          font-size: 0.75rem;
          align-self: flex-end;
        }
      }
      .details {
        display: none;
      }
    }
  }
}
