// colors
$light-smoke: #ededed;
$light-gray: #ddd;
$dark-gray: #aaa;
$charcoal: #999;

$hp-color: #2e7061;
$poll-open: $light-gray;
$poll-closed: $dark-gray;
$poll-not-reported: $charcoal;
$gop-leading: #F19192;
$gop-win: #E52426;
$dem-leading: #AFBAF9;
$dem-win: #4C7DE0;
$precint-color: $dark-gray;
$header-color: $dark-gray;
$border-color: #ededed;
$hard-line: #999;

$body-font: "Helvetica Neue", "Helvetica", Roboto, Arial, sans-serif;
$header-font: "ProximaNovaCond-Extrabld", "NotoKufiArabic-Bold", $body-font;

$left-column-width: 665px;
$right-column-width: 420px;
