// colors
$light-smoke: #ededed;
$light-gray: #ddd;
$dark-gray: #aaa;
$charcoal: #999;

$poll-open: $light-gray;
$poll-closed: $dark-gray;
$poll-not-reported: $charcoal;
$precint-color: $dark-gray;
$header-color: $dark-gray;
$border-color: #ededed;
$hard-line: #999;

$left-column-width: 665px;
$right-column-width: 420px;

$dem-color: #4c7de0;
$gop-color: #e52426;

$body-font-family: "NotoNashkArabic", "Helvetica Neue", "Helvetica", Roboto, Arial, sans-serif;

@mixin ar-font-size($font-size) {
  html[lang='ar-SA'] & {
    font-size: $font-size
  }
}
