.house-races {
width: 100%;
  table {
    width: 100%;
    max-width: 40rem;
    margin: 0 auto;
    border-collapse: collapse;
  }

  td {
    padding: .25rem 0; // No need for horizontal padding: there's just one <strong> per row
    text-align: center;
    border-top: 1px solid $very-very-muted-color;
  }

  th {
    padding: .25rem 0;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid $color;
  }

  th.district, td.district {
    text-align: left;
    font-weight: bold;
    padding-left: .5rem;
  }



  .percent {
    padding: 0 .25rem;
    display: inline-block;
  }

  td.percent-reporting {
    font-style: italic;
    color: $very-muted-color;
    font-size: .75rem;
  }

  tr.dem-win td.dem .percent {
    color: $background;
    background: $dem-color;
    font-weight: bold;
    &::before {
      content: '✔';
    }
  }

  tr.gop-win td.gop .percent {
    color: $background;
    background: $gop-color;
    font-weight: bold;
    &::before {
      content: '✔';
    }
  }

  tr.other-win, tr.lib-win, tr.grn-win, tr.bfa-win {
    td.third .percent {
      color: $background;
      background: $other-color;
      font-weight: bold;
      &::before {
        content: '✔';
      }
    }
  }
}
