.electoral-header
  .electoral-title - ELECTORAL VOTES
  .electoral-blurb - Random text that should be eventually replaced...
.electoral-content
  .bubble.bubble--clinton
    span.bubble__candidate - CLINTON
    span.bubble__votes - 0
  span.bubble-handle.bubble-handle--clinton data-handle="outside"
    span.bubble-handle__inside
    span.bubble-handle__border

  .bubble.bubble--trump
    span.bubble__candidate - TRUMP
    span.bubble__votes - 0
  span.bubble-handle.bubble-handle--trump data-handle="outside"
    span.bubble-handle__inside
    span.bubble-handle__border

  .face.face--clinton
  .face.face--trump

  .bars
    .bar.bar--clinton
    .bar.bar--trump
    .bar-text.bar-text--clinton
    .bar-text.bar-text--trump
    .finish-bubble - 270 Electoral Votes Needed to Win
