.sources
	p.sources - Source: Associated Press
	p.sources - By Adam Hooper, Nicky Forster, Alissa Scheller, Raphael Eidus, Kevin Mangubat, Troy Dunham, Marc Graff, Jesse Kipp Alexander Sapountzis and Honorata Zaklicki
