<!DOCTYPE html>
html lang="en"
  head
    meta charset="utf-8"
    title - Presidential Race: Election 2016
    meta name="viewport" content="width=device-width, initial-scale=1"
    link rel="stylesheet" href="${data.path_to_asset('scss', 'stylesheets/dashboard.css')}"
    link rel="shortcut icon" type="image/x-icon" href="${data.path_to_asset('digest', 'images/favicon.ico')}"
    $!{data.helpers.partial('_social-meta')}
  body.president
    $!{data.helpers.partial('dashboard/_header')}
    $!{data.helpers.partial('dashboard/_nav')}

    main
      $!{data.helpers.partial('dashboard/_refresh')}
      $!{data.helpers.partial('president/_summary')}

      p.explanation - Voters in each state decide how their state's <em>electors</em> will vote. Most states are winner-take-all: whoever wins in California earns all 55 of its electoral college votes.

      .map-and-map-info
        .map
          .map-legend-and-switcher
            $!{data.helpers.partial('dashboard/_legend', { entrySet: 'president' })}
            $!{data.helpers.partial('president/_map-switcher')}
          $!{data.helpers.partial('president/_map')}
        .map-info
          $!{data.helpers.partial('dashboard/_changelog')}

    $!{data.helpers.partial('_sources')}
    $!{data.helpers.partial('dashboard/_recirc')}
    $!{data.helpers.partial('_footer')}

    $!{data.helpers.partial('dashboard/_tooltip')}

    script src="${data.path_to_asset('javascript', 'javascripts/president.js')}" data-json="${JSON.stringify(data.model)}"
    script src="${data.path_to_asset('digest', 'javascripts/social.js')}"
    script src="${data.path_to_asset('digest', 'javascripts/stats.js')}"
