<!DOCTYPE html>
html lang="en"
  head
    meta charset="utf-8"
    title - Presidential Race: Election 2016
    meta name="viewport" content="width=device-width, initial-scale=1"
    link rel="stylesheet" href="${data.path_to_asset('scss', 'stylesheets/dashboard.css')}"
    link rel="shortcut icon" type="image/x-icon" href="${data.path_to_asset('digest', 'images/favicon.ico')}"
    $!{data.helpers.partial('_social-meta')}
  body.senate
    $!{data.helpers.partial('dashboard/_header')}
    $!{data.helpers.partial('dashboard/_nav')}

    main
      $!{data.helpers.partial('dashboard/_refresh')}

      $!{data.helpers.partial('senate/_summary')}

      .map-and-map-info
        .map-switcher
          $!{data.helpers.partial('senate/_map-switcher')}
        .map
          $!{data.helpers.partial('senate/_map')}
        .map-info
          $!{data.helpers.partial('dashboard/_changelog')}

    $!{data.helpers.partial('dashboard/_recirc')}
    $!{data.helpers.partial('_footer')}
    $!{data.helpers.partial('dashboard/_tooltip')}

    script src="${data.path_to_asset('javascript', 'javascripts/senate.js')}" data-json="${JSON.stringify(data.model)}"
    script src="${data.path_to_asset('digest', 'javascripts/social.js')}"
    script src="${data.path_to_asset('digest', 'javascripts/stats.js')}"
