
<!DOCTYPE html>

html lang="en"
  head
    meta charset="utf-8"
    title - Presidential Race: Election 2016
    meta name="viewport" content="width=device-width, initial-scale=1"
    link rel="stylesheet" href="${data.path_to_asset('scss', 'stylesheets/dashboard.css')}"
    $!{data.helpers.partial('_social-meta')}
  body.president
    $!{data.helpers.partial('dashboard/_header')}
    $!{data.helpers.partial('dashboard/_nav')}

    main
      $!{data.helpers.partial('dashboard/_refresh')}

    $!{data.helpers.partial('_footer')}

    <!-- TK "house.js", not "president.js" -->
    script src="${data.path_to_asset('javascript', 'javascripts/president.js')}"
    script src="${data.path_to_asset('digest', 'javascripts/social.js')}"
    script src="${data.path_to_asset('digest', 'javascripts/stats.js')}"
