#map-switcher.cartogram
  h4 - View Map As:
  .switch
    .geography
      a href='#'
        h5 - Geography
      .text - The area of each state is unrelated to its importance in the race
    .cartogram
      a href='#'
        h5 - Electoral Votes
      .text - The area of each state is proportional to its number of electoral votes
