figcaption.legend
  .legend__polls
    h5.legend__header - LEGEND
    dl
      dt.open - NO WINNER YET
      dd
        .open.legend-icon
      dt.dem-win - CLINTON WIN
      dd
        .dem.legend-icon
      dt.gop-win - TRUMP WIN
      dd
        .gop.legend-icon
  .legend__results
    a.resultsBtn target="_blank" href="${data.url_to('president')}" data-beacon="{\"p\":{\"mlid\": \"full_results\", \"lnid\": \"btn_see_full_results\"}}"
      .resultsTxt - See Full Results
