#map-switcher.cartogram
  .switch__message - View Map As
  .switch data-beacon="{\"p\":{\"mlid\": \"map_switcher\"}}"
    .geography.tab data-beacon="{\"p\":{\"lnid\": \"tab_geography\"}}"
      a.tab__link href='#'
        h5 - MAP OF US
    .cartogram.tab data-beacon="{\"p\":{\"lnid\": \"tab_cartogram\"}}"
      a.tab__link href='#'
        h5 - SIZED BY # OF ELECTORAL VOTES
