#map-switcher.cartogram
  .switch__message - View Map As
  .switch
    .geography.tab
      a.tab__link href='#'
        h5 - MAP OF US
    .cartogram.tab
      a.tab__link href='#'
        h5 - SIZED BY # OF ELECTORAL VOTES
