<!DOCTYPE html>

html lang="en"
  head
    meta charset="utf-8"
    title - Splash Page Test
    meta name="viewport" content="width=device-width, initial-scale=1"
  body
    p - This is a test splash page! here are the divs
    #election-splash-refresh
    #electoral_votes
    #election_map
    #battlegrounds
    #election_seats
      #house_seats
      #senate_seats

    script src="${data.path_to_asset('javascript', 'javascripts/splash/desktop.js')}" data-locale="${data.model.locale}" data-translations="${JSON.stringify(data.model.translations)}"
