<!DOCTYPE html>

html lang="en"
  head
    meta charset="utf-8"
    title - Presidential Race: Election 2016
    meta name="viewport" content="width=device-width, initial-scale=1"
    link rel="stylesheet" href="${data.path_to_asset('scss', 'stylesheets/splash-desktop.css')}"
  body
    #election-splash-refresh
    .decision-iframe__splash
      .decision-iframe__splash__left
        #electoral_votes
        #election_map
      .decision-iframe__splash__right
        #battlegrounds
        #election_seats
          #house_seats
          #senate_seats

    script
      ---
      var presidentUrl = "${data.url_to('president.json')}";
      var electionBaseUrl = "${data.url_to('index')}";
      var electoralHTML = $!{JSON.stringify(data.helpers.partial('_test/splash/_electoral'))};
      var electoralImages = {
        clinton: {
          basic: "${data.url_to_asset('digest', 'images/splash/clinton.jpg')}",
          sad: "${data.url_to_asset('digest', 'images/splash/clinton-sad.jpg')}",
          happy: "${data.url_to_asset('digest', 'images/splash/clinton-happy.jpg')}"
        },
        trump: {
          basic: "${data.url_to_asset('digest', 'images/splash/trump.jpg')}",
          sad: "${data.url_to_asset('digest', 'images/splash/trump-sad.jpg')}",
          happy: "${data.url_to_asset('digest', 'images/splash/trump-happy.jpg')}"
        }
      };
      var battlegroundsImages = {
        clinton: "${data.url_to_asset('digest', 'images/splash/clinton-battlegrounds.jpg')}",
        trump: "${data.url_to_asset('digest', 'images/splash/trump-battlegrounds.jpg')}",
      };
      var markoMap = $!{JSON.stringify(data.helpers.partial('president/_map'))};
      var markoMapSwitcher = $!{JSON.stringify(data.helpers.partial('splash/_map-switcher'))};
      var markoLegend = $!{JSON.stringify(data.helpers.partial('splash/_legend'))};

      // TK nix all variables (make them HTML data- attributes or CSS backgrounds)
      // TK then link this JS with data.path_to_asset()
      $!{data.asset_contents('javascript', 'javascripts/splash.js')}

      var model = $!{JSON.stringify(data.model)};
      window.decision2016_init(model, model.showRightRail);
      ---
