var summary=data.model.summaries.house

if(data.model.metadata.slug === 'house')
  h1 - House
else
  a href="${data.path_to('house')}" - House

.bar
  .dem style="width: ${100 * summary.wins.dem / summary.total}%"
  .tossup style="width: ${100 * (summary.total - summary.wins.dem - summary.wins.gop) / summary.total}%"
  .gop style="width: ${100 * summary.wins.gop / summary.total}%"

.image.${summary.className}
