var summary=data.model.summaries.senate

if(data.model.metadata.slug === 'senate')
  h1 - Senate
else
  a href="${data.path_to('senate')}" - Senate

.bar
  .dem style="width: ${100 * summary.totals.dem / summary.n}%"
  .tossup style="width: ${100 * (summary.n - summary.totals.dem - summary.totals.gop) / summary.n}%"
  .gop style="width: ${100 * summary.totals.gop / summary.n}%"

.image.${summary.className}
