<!DOCTYPE html>

html lang="en"
  head
    meta charset="utf-8"
    title - Embed code generator
    meta name="viewport" content="width=device-width, initial-scale=1"
    style
      ---
      ul.locales { list-style: none; margin: 0; padding: 0; }
      ul.locales li { display: inline; padding: 0 1rem; }
      #bar-preview, #preview { width: 940px; padding: 1rem; }
      ---
  body
    p - Click a locale to see its embed code:
    ul.locales
      for(object in data.model)
        li.${object.locale === 'en' ? 'selected' : ''}
          a href="#${object.locale}" - ${object.locale}

    #mobile-preview

    #bar-preview

    #preview

    script
      ---
      var preview = document.getElementById('preview');
      var barPreview = document.getElementById('bar-preview');
      var mobilePreview = document.getElementById('mobile-preview');
      var urlTemplate = $!{JSON.stringify(data.url_to('splash/:locale', 'LOCALE'))};
      var barUrlTemplate = $!{JSON.stringify(data.url_to('splash-bar/:locale', 'LOCALE'))};
      var mobileUrlTemplate = $!{JSON.stringify(data.url_to('mobile-ad/:locale', 'LOCALE'))};

      document.addEventListener('click', function(ev) {
        if (ev.target.tagName !== 'A') return;
        ev.preventDefault();

        window.location.hash = ev.target.getAttribute('href');
      });

      function sampleUrl(embedUrl, locale) {
        // The iframe URL
        return embedUrl.replace('LOCALE', locale);
      }

      function realUrl(sampleUrl) {
        // The production URL -- even if editors are reading from staging
        return sampleUrl.replace(/http:\/\/[^\/]+/, 'http://elections.huffingtonpost.com')
      }

      function refreshFromHash() {
        var locale = window.location.hash.slice(1) || 'en';

        var mobileAdCode = '<iframe width="320" height="200" scrolling="no" style="border:0" src="' + sampleUrl(mobileUrlTemplate, locale) + '"></iframe>';
        var mobileHtml = '<h1>Post-election mobile-splash embed code</h1><pre></pre><h3>Preview</h3>' + mobileAdCode;
        mobilePreview.innerHTML = mobileHtml;
        mobilePreview.querySelector('pre').textContent = realUrl(mobileAdCode);

        var embedCode = '<iframe width="980" height="810" scrolling="no" style="border:0" src="' + sampleUrl(urlTemplate, locale) + '"></iframe>';
        var html = '<h1>During-election full-splash embed code</h1><pre></pre><h3>Preview</h3>' + embedCode;
        preview.innerHTML = html;
        preview.querySelector('pre').textContent = realUrl(embedCode);

        var barEmbedCode = '<iframe width="980" height="170" scrolling="no" style="border:0" src="' + sampleUrl(barUrlTemplate, locale) + '"></iframe>';
        var barHtml = '<h1>Post-election results embed code</h1><pre></pre><h3>Preview</h3>' + barEmbedCode;
        barPreview.innerHTML = barHtml;
        barPreview.querySelector('pre').textContent = realUrl(barEmbedCode);
      }

      window.addEventListener('hashchange', refreshFromHash);

      document.addEventListener('DOMContentLoaded', refreshFromHash);
      ---
