<!DOCTYPE html>

html lang="en"
  head
    meta charset="utf-8"
    title - Mobile Ad Test
    meta name="viewport" content="width=device-width, initial-scale=1"
  body
    p - testing mobile ad
    iframe width="320" height="200" scrolling="no" style="border:0" src="${data.url_to('mobile-ad/:locale', 'en')}"
