<!DOCTYPE html>
var t=data.helpers.buildTranslateFunction(data.model.i18n)

html lang="en"
  head
    meta charset="utf-8"
    title - Mobile Ad Test
    meta name="viewport" content="width=device-width, initial-scale=1"
    link rel="stylesheet" href="${data.path_to_asset('scss', 'stylesheets/mobile-ad.css')}"
  body
    a.details href="${data.path_to('president')}"
      p.details - ${t('banner.See full results')}

    script src="${data.path_to_asset('digest', 'javascripts/stats.js')}"
