.candidate-table{
  position: relative;

  @media(min-width: $min-desktop-width) {
    width: 300px;
  }
  .dem-prior,
  span.dem {
    color: $dem-color;
  }
  .gop-prior,
  span.gop {
    color: $gop-color;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    &.gop-win {
      tr.winner {
        font-weight: bold;
        background-color: lighten($gop-background, 5);
      }
    }
    &.dem-win {
      tr.winner {
        font-weight: bold;
        background-color: lighten($dem-background, 5);
      }
    }
  }
  thead {
    border-bottom: 1px solid #bdbdbd;
  }
  th {
    font-size: .75rem;
    color: $muted-color;
    text-transform: uppercase;
    font-weight: 300;
    &.name{
      text-align: left;
      font-weight: 700;
      font-size: 0.9rem;
      font-family: $header-font-family;
      color: black;
    }
    &.vote-count {
      text-align: left;
    }
    &.votes {
      text-align: right;
    }
    &.percent {
      text-align: right;
    }
  }
  td {
    padding: .25rem 0;
    &.name {
      width: 1px;
      font-size: .75rem;
      padding-left: .5rem;
      .incumbent {
        color: white;
        background-color: $muted-color;
        display: inline-block;
        text-align: center;
        width: 1rem;
        margin: 0 2px;
      }
    }
    &.vote-count {
      width: 1px;
      text-align: right;
      font-size: .75rem;
    }
    &.votes {
      width: 30%;
      font-size: .75rem;
      .vote-bar {
        margin-left: .25rem;
        position: relative;
        height: .75rem;
        &.dem {
          background-color: $dem-color;
        }
        &.gop {
          background-color: $gop-color;
        }
        &.lib {
          background-color: $lib-color;
        }
        &.grn {
          background-color: $grn-color;
        }
        &.other {
          background-color: $other-color;
        }
        &.bfa {
          background-color: $bfa-color;
        }
      }
    }
    &.percent {
      width: 1px;
      text-align: center;
      font-size: 12px;
    }
  }
  tr.winner td.name::before {
    content: '✔';
  }

  p.fraction-reporting, p.state-click {
    margin: .75rem 0 0;
    color: $muted-color;
    font-size: .75rem;
  }
}
