#changelog {
  font-size: .85rem;

  .heading {
    border-bottom: 1px solid $color;

    #refresh {
      display: inline-block;
      margin: 0;

      button.refresh {
        padding: 0 .25rem;
      }

      span.countdown {
        line-height: 1.5rem;
      }
    }
  }

  h3 {
    display: inline-block;
    font-family: $header-font-family;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 1;
    margin: 0;
    vertical-align: top;
  }

  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: block;
    position: relative;
    padding-left: 2rem;
    padding-bottom: .5rem;
    line-height: 1.5;
    border-top: 1px solid $very-very-muted-color;
    padding-top: .5rem;
    &:first-child { border-top: 0; }

    background-color: $background;
    transition: background-color 5s ease-out;
    &.new-change {
      background-color: $highlight-background;
    }
  }

  li.placeholder {
    padding-left: 0;
    color: $muted-color;
  }

  time {
    display: block;
    color: $muted-color;
    font-size: .7rem;
  }

  span.leader {
    font-weight: bold;
  }

  span.race {
    font-weight: bold;
  }

  span.state {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.5rem;
    vertical-align: -.25rem;
  }

  span.won {
    &::after {
      content: '';
      display: inline-block;
      font-size: 1rem;
      width: 1.125rem;
      height: 1rem;
      line-height: 1;
      background: asset-url('digest', 'images/dashboard/win-confetti.svg') no-repeat right center;
    }
  }

  span.state, span.leader { color: $tossup-color; }
  .dem-win span.state, .dem-win span.leader { color: $dem-color; }
  span.leader.dem-lead { color: $dem-color; }
  .gop-win span.state, .gop-win span.leader { color: $gop-color; }
  span.leader.gop-lead { color: $gop-color; }
  .lib-win span.state, .lib-win span.leader { color: $lib-color; }
  span.leader.lib-lead { color: $lib-color; }
  .grn-win span.state, .grn-win span.leader { color: $grn-color; }
  span.leader.grn-lead { color: $grn-color; }
  .bfa-win span.state, .bfa-win span.leader { color: $bfa-color; }
  span.leader.bfa-lead { color: $bfa-color; }
}
