@mixin dashboard-body() {
  .map-and-map-info {
    @include wide-width();
    margin-top: 3rem;

    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    .map {
      position: relative;
      min-width: 30rem;
      -webkit-flex: 1 1 auto;
      flex: 1 1 auto;
    }

    .map-info {
      width: 15rem;
      margin-left: 1rem;
      -webkit-flex: 0 0 auto;
      flex: 0 0 auto;
    }
  }

  p.explanation {
    @include page-width();
    font-family: $body-font-family;
    line-height: 1.5;
  }
}
