#refresh, div.refresh {
  display: block;
  //margin: .5rem 0;
  //height: 2rem;
  font-size: .75rem;
  color: $muted-color;

  button {
    display: inline-block;
    background: $background;
    position: relative;
    font-size: .9rem;
    margin: 0;
    padding: 0 .25rem;
    line-height: 1.5rem;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
      background-color: $background;
    }

    &:active {
      background-color: $background;
    }

    &::before {
      content: '';
      display: inline-block;
      width: 1em;
      height: 1em;
      vertical-align: -.125rem;
      background-image: asset-as-url('digest', 'images/common/refresh.svg');
      background-size: 100%;
    }
  }

  &.loading button::before {
    animation: spin 1s infinite linear;
  }
}

@keyframes spin {
  0% {
    transform: translate3d(0, 0, 0) rotate(-0.001deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(360.001deg);
  }
}
