#tooltip {
  display: none;
  position: absolute;
  z-index: 1;
  width: 300px;
  height: auto;
  pointer-events: none;
  border: 1px solid #bdbdbd;
  background-color: rgb(255, 255, 255);
  .inner {
    position: relative;
    display: block;
    margin: auto;
    // width: 100%;
    p {
      font-size: 12px;
    }
    // .arrow-down {
    //   position: absolute;
    //   width: 0;
    //   height: 0;
    //   border-left: 10px solid transparent;
    //   border-right: 10px solid transparent;
    //   border-top: 10px solid #fff;
    //   bottom: -10px;
    //   left: 115px;
    // }
    // .arrow-border {
    //   position: absolute;
    //   width: 0;
    //   height: 0;
    //   border-left: 11px solid transparent;
    //   border-right: 11px solid transparent;
    //   border-top: 11px solid #bdbdbd;
    //   bottom: -11px;
    //   left: 114px;
    // }
  }
}
