$yay-color: #d7e4bd;
$nay-color: #e0cde4;
$gop-lead-color: #FBC2A7;
$dem-lead-color: #BBCCE9;
$grn-color: #A2C667;
$grn-lead-color: #D7E4BD;
$lib-color: #F0C51E;
$lib-lead-color: #F8E3A8;
$bfa-color: #db61b9;
$bfa-lead-color: #edced7;
