body.region {
  section, h1 {
    @include wide-width();
  }

  .president-map,
  .senate-map,
  .house-map {
    text,
    circle {
      display: none;
    }
  }

  h1 {
    font-family: $header-font-family;
    font-size: 2.3rem;
    text-transform: uppercase;
    padding: 3rem 0;

    @media (min-width: $min-desktop-width) {
      font-size: 3.5rem;
    }
  }

  .section-header {
    font-family: $header-font-family;
    font-size: 1.6rem;
    text-transform: uppercase;
    border-top: 1px solid black;
    padding-top: 3rem;
    margin-bottom: 0;

    &:first-child {margin-top: 2rem;}
  }

  .section-inner {
    .percent-reporting {
      color: $muted-color;
      font-size: .75rem;
      margin: .75rem 0 0;
    }

    .map-legend {
      // remember, "house" position is in sidebar; "senate"/"president" is main
      margin: 1rem;
      table { margin: 0 auto; } // good for sidebar
    }

    @media (min-width: $min-desktop-width) {
      display: flex;

      aside {
        width: 20rem;
        margin-right: 1.5rem;
      }

      .section-main {
        flex: 1 1 auto;
        display: flex;
      }
    }
  }

  .house-races {
    tr.highlight {
      td {
        background-color: $highlight-background;
      }
    }
  }

  .geo-map, .house-map {
    position: relative;
    width: 100%;

    svg {
      display: block;
      width: 100%;
      height: auto;
      max-height: 25rem;
    }
  }

  path {
    stroke: none;
    fill: $tossup-color;

    @include party-win-colors('fill');
    @include party-lead-colors('fill');
    &.tossup { fill: $tossup-color; }

    &.highlight {
      fill: none;
      stroke: $color;
      stroke-width: 3px;
      pointer-events: none;
    }

    &[class$=mesh] {
      fill: none;
      stroke: $background;
      stroke-width: 2px;
      pointer-events: none;
    }
  }

  p.to-national-map {
    font-weight: bold;
    color: $color;

    a {
      font: inherit;
      color: inherit;
      padding: .5rem 0; // make it easier to click
    }
  }

  .comments {
    margin-top: 7rem;
    @include wide-width();
  }
}

@import 'region/_president-race.scss';
@import 'region/_senate-race.scss';
@import 'region/_house-races.scss';
@import 'region/_ballot-races.scss';
