body.region section.region {
  @include wide-width();
}

section.region {
  *[class$=-only] { display: none; }
  &.president .president-only { display: block; }
  &.senate .senate-only { display: block; }
  &.house .house-only { display: block; }
  &.ballot .ballot-only { display: block; }

  .columns {
    @media (min-width: $min-desktop-width) {
      display: flex;
      .left-column { width: 15rem; }
      .right-column { flex: 1 1 auto; }
    }
  }

  .geo-map, .district-map {
    position: relative;
    width: 100%;

    &::before {
      content: '';
      display: block;
      height: 0;
      padding-bottom: 100%; // We fit each map into a square
    }

    svg {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  path:not[class$=-mesh] { fill: $tossup-color; }
  path.gop-win { fill: $gop-color; }
  path.dem-win { fill: $dem-color; }
  path.lib-win { fill: $lib-color; }
  path.grn-win { fill: $grn-color; }
  path.bfa-win { fill: $bfa-color; }
  path.other-win { fill: $other-color; }
  path.gop-lead { fill: $gop-lead-color; }
  path.dem-lead { fill: $dem-lead-color; }
  path.lib-lead { fill: $lib-lead-color; }
  path.grn-lead { fill: $grn-lead-color; }
  path.bfa-lead { fill: $bfa-lead-color; }
  path.other-lead { fill: $other-lead-color; }
  path.tossup { fill: $tossup-color; }

  .geo-map {
    // TK revisit once we finalize maps
    path.state, g.districts, path.districts-mesh { display: none; }

    path.counties-mesh {
      stroke: white;
      stroke-width: 3px;
      fill: none;
    }
  }

  .district-map {
    // TK revisit once we finalize maps
    path.state, g.geos, path.counties-mesh { display: none; }

    path.districts-mesh {
      stroke: white;
      stroke-width: 5px;
      fill: none;
    }
  }
}
