$background: #fff;
$alt-background: #f7f7f7;
$highlight-background: #f7f787;
$color: black;
$nav-background: #181818;
$nav-color: white;
$link-color: #6fa8bc;
$accent: #2e7061;
$muted-color: #6a6969;
$very-muted-color: #D1D3D4;
$very-very-muted-color: #f3f3f3;
$body-font-family: Source Sans Pro, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$header-font-family: ProximaNovaCond-Extrabld, Arial, Helvetica, sans-serif;

$golden-ratio: 1.61803398875;
$map-golden-ratio: 647.0/400;

$TK-code-this-component: #dae086;
$refresh-bg: #feedaa;
$dem-color: #4c7de0;
$dem-prior-color: #d7dcf0;
$dem-background: #d7dcf0;
$gop-color: #e52426;
$gop-prior-color: #f3dddc;
$gop-background: #f3dddc;
$grn-color: #A2C667;
$grn-lead-color: #D7E4BD;
$lib-color: #F0C51E;
$lib-lead-color: #F8E3A8;
$bfa-color: #db61b9;
$bfa-lead-color: #edced7;
$other-color: #835BA6;
$other-lead-color: #E5D9EB;
$tossup-color: $very-muted-color;

// Sets &.dem-win { property: $dem-color; }, etc.
@mixin party-win-colors($property) {
  &.dem-win { #{$property}: $dem-color; }
  &.gop-win { #{$property}: $gop-color; }
  &.lib-win { #{$property}: $lib-color; }
  &.grn-win { #{$property}: $grn-color; }
  &.bfa-win { #{$property}: $bfa-color; }
  &.other-win { #{$property}: $other-color; }
}

// Sets &.dem-lead { property: $dem-lead-color; }, etc.
@mixin party-lead-colors($property) {
  &.dem-lead { #{$property}: $dem-lead-color; }
  &.gop-lead { #{$property}: $gop-lead-color; }
  &.lib-lead { #{$property}: $lib-lead-color; }
  &.grn-lead { #{$property}: $grn-lead-color; }
  &.bfa-lead { #{$property}: $bfa-lead-color; }
  &.other-lead { #{$property}: $other-lead-color; }
}
