$background: #fff;
$alt-background: #f7f7f7;
$highlight-background: #f7f787;
$color: black;
$nav-background: #181818;
$nav-color: white;
$link-color: #6fa8bc;
$muted-color: #6a6969;
$very-muted-color: #ccc;
$very-very-muted-color: #f3f3f3;
$body-font-family: NotoNashkArabic, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$header-font-family: ProximaNovaCond-Extrabld, Arial, Helvetica, sans-serif;

$golden-ratio: 1.61803398875;

$TK-code-this-component: #dae086;
$refresh-bg: $TK-code-this-component;
$gop-color: #e52426;
$dem-color: #4c7de0;
$tossup-color: $very-muted-color;
$other-color: $TK-code-this-component;
