@import '_proxima-nova-condensed-extra-bold';
@import '_variables';
@import 'splash/_variables';

@import 'splash/bar/_president';
@import 'splash/bar/_senate';
@import 'splash/bar/_house';

html, body {
  margin: 0 auto;
  padding: 0;
  width: 980px;
  font-family: $body-font-family;
}

.columns {
  display: flex;

  &>* {
    display: flex;
  }
}

.column-president {
  flex: 1 1 auto;
  padding-right: 1rem; // not 1.5rem -- the contents have padding
}

.column-senate {
  padding: 0 1.5rem;
  border-left: 1px solid $color;
}

.column-house {
  width: 250px;
  border-left: 1px solid $color;
  padding-left: 1.5rem;
}

h2 {
  font-family: $header-font-family;
  font-size: 1.25rem;
  margin: 0;
}

p.details {
  font-size: .85rem;
  font-style: italic;
  text-decoration: underline;
}
