#president {
  text-decoration: none;
  color: $color;
  display: flex;

  svg {
    width: 200px;
    height: 124px;
  }

  path { stroke: none; fill: $tossup-color; }
  path.clinton-win { stroke: none; fill: $dem-color; }
  path.trump-win { stroke: none; fill: $gop-color; }
  path.mesh { stroke: $background; fill: none; stroke-width: 5px; }

  .electoral-votes {
    margin-right: -.5rem; // ".clinton" and ".trump" add .5rem padding
    display: flex;
    flex-direction: column;

    h3 {
      font-family: $body-font-family;
      font-size: 1rem;
      font-weight: bold;
      margin: 0;
      line-height: 1.75;
      flex: 1 1 auto;
    }

    .clinton, .trump {
      height: 2rem;
      padding: .5rem .5rem .25rem 3rem; // left is for bust and "win"
      display: flex;
      border-bottom: 1px solid $color;
      position: relative;

      &.winner::before {
        content: '✔';
        position: absolute;
        font-size: .8rem;
        left: .2rem;
        top: .85rem;
        z-index: 1;
      }

      &::after {
        content: '';
        position: absolute;
        left: 1rem;
        width: 1.75rem;
        height: 2.5rem;
        top: 0;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: bottom center;
      }
    }

    .clinton::after { background-image: asset-url('digest', 'images/splash/clinton-head.png'); }
    .trump::after { background-image: asset-url('digest', 'images/splash/trump-head.png'); }
    .clinton.winner { background-color: $dem-background; }
    .trump.winner { background-color: $gop-background; }

    strong {
      font-size: 2rem;
      line-height: 2rem;
      font-family: $header-font-family;
    }

    .popular {
      font-size: .75rem;
      line-height: .9rem;
      padding-left: .5rem;
      color: $muted-color;
    }

    .clinton strong { color: $dem-color; }
    .trump strong { color: $gop-color; }
  }
}
