#senate {
  text-decoration: none;
  color: $color;
  display: flex;
  flex-direction: column;

  p.count {
    margin: 0;
    flex: 1 1 auto;
  }

  .legend {
    display: flex;
    align-items: flex-end;
    padding-bottom: .25rem;

    .balance {
      font-size: .85rem;
      line-height: .9rem;
      font-style: italic;
      color: $muted-color;
      text-align: center;
      flex: 1 1 auto;
    }
  }

  ol.races {
    width: 250px;
    height: 40px;
    margin: 0;
    padding: 0;
    padding-bottom: 5px; // match height of House races, so graphics align
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 19px;
      border-top: 1px solid $color;
      width: 10px;
      left: 119px;
      border-left: 1px solid $color;
      height: 30px;
    }

    &::after {
      content: '';
      position: absolute;
      top: -5px;
      border-bottom: 1px solid $color;
      width: 10px;
      left: 119px;
      border-right: 1px solid $color;
      height: 24px;
    }
  }

  li {
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    border-right: 1px solid $background;
    border-bottom: 1px solid $background;
  }

  li { background-color: $tossup-color; }
  li.space { opacity: 0; }
  li.dem-win, li.dem-prior { background-color: $dem-color; }
  li.gop-win, li.gop-prior { background-color: $gop-color; }
  .legend .dem { color: $dem-color; }
  .legend .gop { color: $gop-color; }
}
