body.house #map {
  path.district-mesh {
    stroke-width: 1px;
  }

  path.state-mesh {
    stroke-width: 3px;
  }

  path.underlay {
    fill: $background;
    stroke: $very-muted-color;
    stroke-width: 1px;
  }

  path.dem-win { fill: $dem-color; }
  path.dem-lead { fill: $dem-lead-color; }
  path.gop-win { fill: $gop-color; }
  path.gop-lead { fill: $gop-lead-color; }
  path.other-win { fill: $other-color; }
  path.other-lead { fill: $other-lead-color; }
  path.tossup { fill: $tossup-color; }
}
