#house-summary {
  @include dashboard-summary();

  .total-dem .image { background-image: asset-url('digest', 'images/dashboard/dem.svg'); }
  .total-gop .image { background-image: asset-url('digest', 'images/dashboard/gop.svg'); }

  li {
    width: 100% * 1/435;
  }

  ol:hover {
    cursor: pointer;
  }

  .result-2014 {
    position: absolute;
    right: 100% * (247 / 435); // Watch it! This is data. There were 247 GOP congresspeople in Jan. 2015
    bottom: 1rem;
    text-align: right;
    padding-right: 1rem;
    font-size: .85rem;
    line-height: 1rem;
    font-style: italic;
    pointer-events: none;
    color: $muted-color;

    &::before {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      bottom: .5rem;
      height: 4.25rem;
      width: .75rem;
      border-bottom: 1px dashed $muted-color;
      border-right: 1px dashed $muted-color;
    }
  }

  li.dem-win { background: $dem-color; }
  li.dem-lead { background: $dem-lead-color; }
  li.lib-win { background: $lib-color; }
  li.lib-lead { background: $lib-lead-color; }
  li.grn-win { background: $grn-color; }
  li.grn-lead { background: $grn-lead-color; }
  li.gop-win { background: $gop-color; }
  li.gop-lead { background: $gop-lead-color; }
  li.tossup { background: $tossup-color; }
}
