body.senate #map {
  text {
    text-anchor: middle;
    alignment-baseline: middle;
    font-family: $header-font-family;
    font-weight: bold;
    font-size: 22px;
  }

  path {
    stroke: $background;
    stroke-width: 2px;

    &.dem-prior, &.gop-prior { fill: $very-very-muted-color; }
    &.tossup { fill: $tossup-color; }
    @include party-win-colors('fill');
    @include party-lead-colors('fill');

    &.mesh {
      fill: none;
      stroke: $background;
      stroke-width: 2px;
    }
  }
}
