#senate-summary {
  @include dashboard-summary();
  .total-dem .image { background-image: asset-url('digest', 'images/dashboard/dem.svg'); }
  .total-gop .image { background-image: asset-url('digest', 'images/dashboard/gop.svg'); }

  li {
    width: 1%; // 100 seats, so each is worth 1%
  }

  li.dem-prior { background: $very-very-muted-color; }
  li.dem-win { background: $dem-color; }
  li.dem-lead { background: $dem-lead-color; }
  li.gop-prior { background: $very-very-muted-color; }
  li.gop-win { background: $gop-color; }
  li.gop-lead { background: $gop-lead-color; }
  li.tossup { background: $tossup-color; }
}
