#map-switcher {
  text-align: center;
  padding: 0 1rem;

  .switch {
    margin-top: .5rem;
    display: -webkit-inline-flex;
    display: inline-flex;
    position: relative;
    padding-bottom: 2.5rem; // for .text

    &>*:last-child { margin-left: -1px; }
  }

  a {
    display: block;
    color: inherit;
    position: relative;
    text-decoration: none;
  }

  .cartogram, .geography {
    opacity: .3;
    transition: opacity 200ms ease-in-out;
    .text { display: none; }
  }
  &.cartogram .cartogram, &.geography .geography {
    opacity: 1;
    .text { display: block; }
    a::before { display: none; }
  }

  img {
    width: 4.5rem;
    height: 4.5rem / $map-golden-ratio;
    display: inline-block;
    border: 1px solid $very-muted-color;
    padding: .5rem 1rem;
  }

  h4 {
    font-family: $header-font-family;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
  }

  h5 {
    font-family: $body-font-family;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1rem;
    text-align: center;
    margin: 0;
  }

  .text {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: .85rem;
    color: $muted-color;
  }
}
