body.president #map {
  path.clinton-win { fill: $dem-color; }
  path.clinton-lead { fill: $dem-lead-color; }
  path.trump-win { fill: $gop-color; }
  path.trump-lead { fill: $gop-lead-color; }
  path.other-win { fill: $other-color; }
  path.other-lead { fill: $other-lead-color; }
  path.tossup { fill: $tossup-color; }
}
