#map {
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 100%;
    padding-bottom: 100% / $golden-ratio;
  }

  .cartogram {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    path {
      stroke: $muted-color;
      stroke-width: 1px;
      fill: $tossup-color;
    }

    g.clinton-win path { fill: $dem-color; }
    g.trump-win path { fill: $gop-color; }
    // TK clinton-lead, trump-lead

    svg {
      text {
        fill: $background;
        font-size: .85rem;
        text-anchor: middle;
        alignment-baseline: central;
      }
    }
  }
}
