#president-summary {
  @include dashboard-summary();

  margin-top: 2rem;

  .inner {
    position: relative;
    padding-top: 5rem; // space for images
    padding-bottom: 2rem; // space for "270 to win"
  }

  .total-clinton, .total-trump {
    position: absolute;
    width: 50%;
    height: 5rem;
    top: 0;
    text-transform: uppercase;
    line-height: 1;

    h3 {
      font-size: 1.5rem;
      font-family: $header-font-family;
      margin: 0;
    }
    span {
      font-size: 0.75rem;
      @media(min-width: 600px) {
        font-size: 1rem;
      }
    }

    strong {
      display: block;
      font-size: 2rem;
      padding-top: .25rem;
      font-family: $header-font-family;
    }

    .electoral-votes {
      font-size: .75rem;

      @media (min-width: 475px) {
          display: block;
          font-size: .85rem;
          font-family: $body-font-family;
      }

    }

    .image {
    display: none;
  @media (min-width: 600px) {
      display: block;
      position: absolute;
      bottom: 0;
      width: 5rem;
      height: 5rem;
      background-size: 100%;
      }
    }
  }

  .popular-votes {
    height: 1rem;
    font-size: .85rem;
    line-height: 1rem;
    position: relative;
    padding-top: .25rem;
    color: $muted-color;

    .trump-popular-votes {
      position: absolute;
      right: 0;
      top: .25rem;
    }
  }

  .total-clinton {
  padding-left: 0rem;
    text-align: left;
    left: 0;
    .image { left: 0; background-image: asset-url('digest', 'images/dashboard/clinton-bust.png'); }
    @media (min-width: 600px) {
    padding-left: 6rem;
    }
    strong { color: $dem-color; }
    }


  .total-trump {
  padding-right: 0rem;
    text-align: right;
    right: 0;
    .image { right: 0; background-image: asset-url('digest', 'images/dashboard/trump-bust.png'); }
    @media (min-width: 600px) {
    padding-right: 6rem;
    }
    strong { color: $gop-color; }
  }

  .middle {
    position: absolute;
    width: 100%;
    bottom: 1rem;
    left: 0;
    text-align: center;
    font-size: .85rem;
    line-height: 1;
    text-transform: uppercase;

    &::before {
      content: '';
      display: block;
      position: absolute;
      margin-left: -.5px;
      left: 50%;
      width: 0;
      height: 5.5rem;
      bottom: 1rem;
      border-left: 1px solid $color;
    }
  }

  ol.races {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }

  li {
    display: block;
    flex: 1 1 auto;
    height: 2rem;
    box-sizing: border-box;
    margin-top: 0rem;
    box-shadow: 0px 0px 0px #fff;
    transition-property: transform box-shadow;
    transition-duration: .1s;
    transition-timing-function: ease-out;

    &.tossup { background: $tossup-color; }
    @include party-win-colors('background');
    @include party-lead-colors('background');
  }

  .total-clinton .image { background-image: asset-url('digest', 'images/dashboard/clinton-bust.png'); }
  .total-trump .image { background-image: asset-url('digest', 'images/dashboard/trump-bust.png'); }

  .photo-credit {
    font-family: $body-font-family;
    color: $very-muted-color;
    font-size: .7rem;
    margin-top: 10px;
  }
}
