#president-summary {
  @include dashboard-summary();

  .total-clinton .image { background-image: asset-url('digest', 'images/dashboard/clinton-bust.jpg'); }
  .total-trump .image { background-image: asset-url('digest', 'images/dashboard/trump-bust.jpg'); }

  li.clinton-win { background: $dem-color; }
  li.clinton-lead { background: $dem-lead-color; }
  li.other-win { background: $other-color; }
  li.other-lead { background: $other-lead-color; }
  li.trump-win { background: $gop-color; }
  li.trump-lead { background: $gop-lead-color; }
  li.tossup { background: $tossup-color; }

  .photo-credit {
    font-family: $body-font-family;
    color: $very-muted-color;
    font-size: .7rem;
    margin-top: 10px;
  }
}
