#tooltip {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 230px;
  height: auto;
  pointer-events: none;
  border: 1px solid #bdbdbd;
  background-color: rgb(255, 255, 255);
  .inner {
    position: relative;
    display: block;
    padding: 5px;
    margin: auto;
    width: 100%;
    p {
      font-size: 12px;
    }
    table {
      position: relative;
      width: 180px;
      .name {
        font-size: 12px;
      }
      .vote-count {
        font-size: 12px;
      }
      .vote-div {
        width: 100%;
        position: relative;
      }
    }
    .arrow-down {
      position: absolute;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #fff;
      bottom: -10px;
      left: 105px;
    }
    .arrow-border {
      position: absolute;
      width: 0;
      height: 0;
      border-left: 11px solid transparent;
      border-right: 11px solid transparent;
      border-top: 11px solid #bdbdbd;
      bottom: -11px;
      left: 104px;
    }
  }
}
