#map-switcher.cartogram
  h4 - View Map As:
  .switch
    .geography
      a href='#'
        h5 - Geography
      .text - The area of each state is unrelated to its importance.
    .cartogram
      a href='#'
        h5 - Seats
      .text - Each colored state elects one senator.
