<!-- We'll let JS load the SVG and inject it into the document. That lets us
     style and script it, even cross-origin. -->
#map.cartogram.loading data-src="${data.url_to_asset('digest', 'maps/senate.svg')}"
